.min-h-transcricao {
  min-height: calc(100vh - 200px);
}

/* Oculta a barra de rolagem, mantendo o scroll funcional, apenas na área de transcrição */
.transcricao-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigos */
}

.transcricao-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}


